.background {
  background: linear-gradient(#11998e, #38ef7d);
}
button {
  margin-bottom: 5px;
}
.modal-buttons {
  text-align: center;
}
.slider {
  /* line them up horizontally */
  display: flex;
  /* allow for scrolling */
  overflow-x: auto;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}
.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}
.header {
  color: black;
}
/*scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
}
.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: rgb(17, 16, 16);
}
.scollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(204, 194, 194);
}*/



